# Eclipse stuff
.classpath
.project
.settings/

# netbeans
nbproject/
nbactions.xml

# we use maven!
pom.xml

# maven
target/
dependency-reduced-pom.xml

# vim
.*.sw[a-p]

# various other potential build files
build/
bin/
dist/
manifest.mf

# Mac filesystem dust
.DS_Store/

# intellij
*.iml
*.ipr
*.iws
.idea/

# Linux temp files
*~

# other stuff
nPaper-Server/target
nPaper-Server/dependency-reduced-pom.xml
nPaper-API/target
nPaper-API/dependency-reduced-pom.xml
MinecraftServer/target
MinecraftServer/dependency-reduced-pom.xml
